body {
    background-color: lightgray;
    border: solid;
    border-color: black;
    border-radius: 25px;
    object-fit: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.headerlg {
    margin-top: 40px;
    object-fit: cover;
    width: 500px;
    border-radius: 25px;
    border: solid;
    border-color: black;
}

.divlist {
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
}

header {
    border-radius: 25px;
    text-align: center;
    
}

html {
    background-color: black;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 25px;
}

.galleryimg {
    width: 100%;
    height: auto;
    object-fit: contain;
}